<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wxgzh.house.dao.HouseDao">

	<insert id="insert" parameterType="com.example.wxgzh.entity.HouseEntity">
		insert into wx_house(pk_building,pk_house,buildingname,floor,area,price,rent,trimstyle,houseimg,describe,name,phone,rors)
		values(#{pk_building,jdbcType=VARCHAR},#{pk_house,jdbcType=VARCHAR},#{buildingname,jdbcType=VARCHAR},#{floor,jdbcType=VARCHAR},#{area,jdbcType=NUMERIC},#{price,jdbcType=NUMERIC},#{rent,jdbcType=NUMERIC},#{trimstyle,jdbcType=VARCHAR},#{houseimg,jdbcType=VARCHAR},#{describe,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{rors,jdbcType=VARCHAR})
	</insert>

	<delete id="delete" parameterType="String">
		delete from wx_house where pk_house = #{id}
	</delete>

	<!--根据id查询-->
	<select id="selectById" parameterType="String" resultType="com.example.wxgzh.entity.HouseEntity">
		select wh.pk_building,wh.pk_house,wh.buildingname,wh.floor,wh.area,wh.price,wh.rent,wh.trimstyle,wh.houseimg,wh.describe,wh.name,wh.phone,wh.rors,wh.isexist,wl.name as leasername,wl.phone as leaserphone,wl.avatar from wx_house wh
		left join wx_leaser_rela wlr on wlr.pk_house = wh.pk_house
		left join wx_leaser wl on wlr.pk_leaser = wl.pk_leaser
		where wh.pk_house = #{id}
	</select>

	<update id="update">
		update wx_house
		<trim prefix="set" suffixOverrides=",">
			<if test="map.buildingname != null">
				buildingname = #{map.buildingname},
			</if>
			<if test="map.floor != null">
				floor = #{map.floor},
			</if>
			<if test="map.area != null">
				area = #{map.area},
			</if>
			<if test="map.price != null">
				price = #{map.price},
			</if>
			<if test="map.rent != null">
				rent = #{map.rent},
			</if>
			<if test="map.trimstyle != null">
				trimstyle = #{map.trimstyle},
			</if>
			<if test="map.houseimg != null">
				houseimg = #{map.houseimg},
			</if>
			<if test="map.describe != null">
				describe = #{map.describe},
			</if>
			<if test="map.name != null">
				name = #{map.name},
			</if>
			<if test="map.phone != null">
				phone = #{map.phone},
			</if>
			<if test="map.rors != null">
				rors = #{map.rors},
			</if>
			<if test="map.isexist != null">
				isexist = #{map.isexist},
			</if>
		</trim>
		where pk_builiding = #{id}
	</update>

	<select id="query" parameterType="String" resultType="com.example.wxgzh.entity.HouseEntity">
		select wh.pk_building,wh.pk_house,wh.buildingname,wh.floor,wh.area,wh.price,wh.rent,wh.trimstyle,wh.houseimg,wh.describe,wh.name,wh.phone,wh.rors,wh.isexist,wl.name as leasername,wl.phone as leaserphone,wl.avatar from wx_house wh
		left join wx_leaser_rela wlr on wlr.pk_house = wh.pk_house
		left join wx_leaser wl on wlr.pk_leaser = wl.pk_leaser
		where wh.pk_building=#{id}
	</select>


	<select id="selectByKey" resultType="com.example.wxgzh.entity.HouseEntity">
		select wh.pk_building,wh.pk_house,wh.buildingname,wh.floor,wh.area,wh.price,wh.rent,wh.trimstyle,wh.houseimg,wh.describe,wh.name,wh.phone,wh.rors,wh.isexist,wl.name as leasername,wl.phone as leaserphone,wl.avatar,wb.name as subordinate from wx_house wh
	    left join wx_leaser_rela wlr on wlr.pk_house = wh.pk_house
	    left join wx_leaser wl on wlr.pk_leaser = wl.pk_leaser
		left join wx_builiding wb on wb.pk_builiding = wh.pk_building
		<where>
		     wh.rors = #{rors}
			<if test="name!= null">
				and wb.name like #{name}
			</if>
			<if test="region != null">
				and wb.region = #{region}
			</if>
			<if test="minprice != null">
				and wh.price &gt; #{minprice}
			</if>
			<if test="maxprice != null">
				and wh.price &lt;= #{maxprice}
			</if>
			<if test="minarea != null">
				and wh.area &gt; #{minarea}
			</if>
			<if test="maxarea != null">
				and wh.area &lt;= #{maxarea}
			</if>
		</where>
	</select>

	<select id="queryDetail" parameterType="String" resultType="com.example.wxgzh.entity.HouseEntity">
		select wh.pk_house,wh.pk_building,wb.name as subordinate,wh.houseimg,wh.area,wh.price,wh.rent,wh.trimstyle,wh.describe,wb.buildingimg,wb.floors,wb.managecost,wb.height,wb.parkspace,wb.elevatorbrand,wb.elevatorcount,wb.area as standardarea,wl.name as leasername,wl.phone as leaserphone from wx_house wh
		left join wx_builiding wb on wh.pk_building = wb.pk_builiding
		left join wx_leaser_rela wlr on wlr.pk_house = wh.pk_house
	    left join wx_leaser wl on wlr.pk_leaser = wl.pk_leaser
		where wh.pk_house = #{id}
	</select>
</mapper>