<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wxgzh.leaser.dao.LeaserDao">
	<insert id="insert" parameterType="com.example.wxgzh.entity.LeaserEntity">
		insert into wx_leaser(pk_leaser,name,phone,password)
		values(#{pkLeaser},#{name},#{phone},#{password})
	</insert>
</mapper>