<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wxgzh.manager.dao.ManagerDao">

	<!-- 新增管理员账号 -->
	<insert id="insert" parameterType="com.example.wxgzh.entity.ManagerEntity">
		insert into wx_manager (pk_manager,account,password)
		values(#{pk_manager},#{account},#{password})
	</insert>


	<!-- 删除管理员账号 -->
	<delete id="delete" parameterType="String">
		delete wx_manager where pk_manager=#{id}
	</delete>

	<!-- 通过账号查询管理员 -->
	<select id="selectByAccount" parameterType="String" resultType="com.example.wxgzh.entity.ManagerEntity" >
		select * from wx_manager where account = #{account}
	</select>



</mapper>